/*CSS RESET=======================================================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*FIM CSS RESET===========================================================================================================================*/







header{
    margin: 0 190px 0 190px
}

.logo-e-ul p:first-child{
    font-family: Arial, Helvetica, sans-serif;
    
}
.logo-e-ul{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    /*margin-left: 190px;*/
}
.logo-e-ul p:first-child span{
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 200000px;
}
ul.topo{
    display: flex;
    
    cursor: pointer;
}
.logo-e-ul ul li:last-child{
    margin: 0 0 0 87px;
}



.intro{
    display: flex;
}
.text p{
    margin-top: 246px;
    margin-left: 530px;
    margin-right: 190px;
    font-size: 4rem;
}
.text p.receba{
    font-size: 1rem;
    margin-top: 100px;
    margin-right: 190px;
}
img{
    border-radius: 200px;
    margin: 134px 0 0 190px;
}
img.olivia{
    margin-left: 530px;
}



.container{
    
    display: flex;
    justify-content: space-between;
    margin: 74px 30vw 0 190px;
}



.container h2{
    font-size: 4rem;
}
.lorem{
    margin: 21px 0px 0 0px;
}




.itens{
    margin: 0 0 0 200px;
    
}
.tittle-itens{
    font-size: 2.6rem;
    
}
.numeracao{
    color: rgb(161, 161, 161);
    font-size: 1.7rem;
}
.reducao-do-bold{
    color: rgb(161, 161, 161);
    font-size: 0.9rem;
}
.itens nav ul li.item-rrr{
    border-bottom: 3px solid rgb(161, 161, 161);
    padding-bottom: 10px;
    padding-right: 100px;
    margin-bottom: 4vw;
}
 


footer nav ul{
    justify-content: center;
    display: flex;
    
}
footer p{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
}















.linha{
    margin-right: 190px;
    margin-bottom: 0;
}
